[Desktop Entry]
Version=1.0
Type=Application
Name=Mint Device Screensaver
GenericName=Screensaver
Comment=Animated floating device screensaver for Linux Mint
Exec=mint-device-screensaver
Icon=mint-device-screensaver
Terminal=false
Categories=Utility;
Keywords=screensaver;animation;mint;
StartupNotify=true
